/* 加載動畫 */
.loadBox {
    @extend .display--table;
    background-color: #FFF;
    &__loadAnimate {
        @include border-radius(20px);
        @include animation(loadAnimate--news 1.7s infinite linear);
        width: 40px;
        height: 40px;
        margin: 0 auto;
        border: 1px solid #CECECF;
        &:before {
            @include border-radius(5px);
            @include transition(all 7.7s ease-in-out);
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 10px;
            height: 10px;
            background-color: #000;
        }
    }
    &--errorBox {
        text-align: center;
        &__icon {
            width: 50%;
            &__newsBox {
                @include opacity(.37);
            }
            @media #{$phone-landscape} {
                width: 37%;
            }
        }
    }
}
@include keyframes(loadAnimate--news) {
    0% {
        @include transform(rotate(0deg));
        border-color: #000;
    }
    50% {
        border-color: #CECECF;
    }
    100% {
        @include transform(rotate(360deg));
        border-color: #000;
    }
}
@include keyframes(loadAnimate--oldNews) {
    0% {
        @include transform(rotate(0deg));
        border-color: #FFF;
    }
    50% {
        border-color: #CECECF;
    }
    100% {
        @include transform(rotate(360deg));
        border-color: #FFF;
    }
}
/* Logo */
.head {
    &__logo {
        @include border-radius(10px);
        display: block;
        width: 5%;
        border: 1px solid #000;
        cursor: pointer;
        &:hover {
            @extend .box-shadow--black;
        }
        @media #{$phone} {
            width: 2.5em;
            @include border-radius(7px);
        }
        @media #{$tablet} {
            width: 10%;
        }
        @media #{$tablet-landscape} {
            width: 7%;
        }
    }
}
/* 主體 */
.newsBox {
    @include border-radius(10px);
    @extend .box-shadow--black;
    position: absolute;
    top: 5%;
    left: 30%;
    width: 40%;
    height: 90%;
    border: 1px solid #000;
    background-color: #FFF;
    @media #{$phone} {
        top: 3.5%;
        left: 3%;
        width: 94%;
        height: 95.5%;
    }
    @media #{$phone-landscape} {
        top: 1.5%;
        left: 1.5%;
        width: 97%;
        height: 97%;
    }
    @media #{$tablet} {
        top: 12%;
        left: 12%;
        width: 76%;
        height: 76%;
    }

    &__inner {
        &.ng-enter {
            @include opacity(0);
            left: 100%;
        }
        &.ng-enter.ng-enter-active, &.ng-leave {
            @include opacity(1);
            left: 0%;
        }
        &.ng-leave.ng-leave-active {
            @include opacity(0);
            left: -100%;
        }
        // 新聞
        &__news {
            @extend .overflow--y;
            position: absolute;
            top: 7%;
            top: calc(3.5em);
            left: 5%;
            width: 90%;
            height: 86%;
            height: calc(100% - 3.5em);
            &__item {
                overflow: hidden;
                white-space: nowrap;
                text-align: left;
                text-overflow: ellipsis;
                margin: 5% auto;
                &__timestamp {
                    margin-right: 1em;
                    font-size: $font-size-small;
                    color: #CECECF;
                    @media #{$phone} {
                        margin-right: 0;
                    }
                }
                &__title {
                    font-size: $font-size-base;
                    text-decoration: underline;
                    @media #{$phone} {
                        font-size: $font-size-base;
                    }
                }
            }
        }
        // 當前日期
        &__date {
            position: absolute;
            top: 0%;
            width: 100%;
            text-align: center;
            &__button {
                cursor: pointer;
            }
        }
    }
}
/* 選擇新聞按鈕 */
.caret {
    @include opacity(.3);
    position: absolute;
    display: block;
    top: 50%;
    top: calc(50% - 18.5px);
    height: 37px;
    cursor: pointer;
    z-index: 3;
    @media #{$all-mobile-Devices} {
        @include opacity(1);
    }
    @media #{$phone} {
        display: none;
    }
    &:hover {
        @include opacity(1);
    }
    &--left {
        left: 20%;
        @media #{$tablet} {
            left: 6%;
        }
    }
    &--right {
        right: 20%;
        @media #{$tablet} {
            right: 6%;
        }
    }
    &--hide {
        display: none;
    }
}
/* 跳躍性選擇新聞 */
.timeMachine {
    @extend .display--table;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    form {
        margin: 0 auto;
        width: 40%;
        @media #{$phone} {
            width: 94%;
        }
        @media #{$phone-landscape} {
            width: 97%;
        }
        @media #{$tablet} {
            width: 76%;
        }
        border: 1px solid #000;
        background-color: #FFF;
        @extend .box-shadow--black;
        input {
            @include border-radius(50%);
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 1em;
            padding: 10px;
            font-size: $font-size-regular;
            text-align: center;
            border: 1px solid #555;
            background-color: transparent;
            -webkit-appearance: none;
        }
        input:focus {
            @extend .box-shadow--black;
            border-color: #000;
        }
        input:disabled {
            border-color: #CECECF;
        }
    }
    svg {
        margin: 1em;
        width: 37px;
        cursor: pointer;
        &:hover {
            & > g {
                fill: #000;
                & > g {
                    stroke: #FFF;
                }
            }
        }
    }
    &__button--invalid {
        display: none;
    }
}
/* 工具欄 */
.toolBar {
    &__button--timeMachine {
        @include filter(blur(0px));
        position: absolute;
        top: calc(5% - 13.5px);
        left: 49%;
        left: calc(50% - 13.5px);
        width: 27px;
        cursor: pointer;
        z-index: -1;
        @media #{$phone} {
            display: none;
        }
        @media #{$tablet} {
            top: 10%;
            top: calc(12% - 13.5px);
        }
        &:hover {
            @include filter(blur(1px));
            @include animation(loadAnimate--timeMachine .3s infinite linear);
            & > g {
                & > circle {
                    stroke: #000;
                }
                & > g {
                    fill: #000;
                }
            }
        }
    }
    &__button--country {
        @include border-radius(14px);
        @extend .box-shadow--black;
        width: 27px;
        height: 27px;
        margin-bottom: 7px;
        font-size: 11px;
        text-align: center;
        line-height: 27px;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            @extend .box-shadow--black--opaque;
        }
        &.CN, &.HK {
            color: #FFE200;
            background-color: #E74010;
        }
        &.TW {
            @include background(linear-gradient(-15deg, #FF2600 0%, #021DA6 25%));
            color: #FFF;
        }
        &.US {
            @include background(linear-gradient(-15deg, #BF0A30 0%, #002868 25%));
            color: #FFF;
        }
        &.JP {
            color: #C70025;
            background-color: #FFF;
        }
        &.DE {
            @include background(linear-gradient(#BF0A30, #BF0A30 50%, #1E1E1E 50%));
            color: #FED100;
        }
        &.FR {
            @include background(linear-gradient(to right, #00209F, #00209F 50%, #F42A41 50%));
            color: #FFF;
        }
        &.IN {
            @include background(linear-gradient(-15deg, #138808 0%, #FF9933 25%));
            color: #000080;
        }
        &.KR {
            @include background(linear-gradient(#C60C30, #C60C30 50%, #003478 50%));
            color: #FFF;
        }
        &.RU {
            @include background(linear-gradient(#0000FE, #0000FE 50%, #FE0000 50%));
            color: #FFF;
        }
        &.BR {
            @include background(linear-gradient(-15deg, #3200FE 0%, #007600 25%));
            color: #FEFE00;
        }
    }
}
@include keyframes(loadAnimate--timeMachine) {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(360deg));
    }
}

/* 「舊聞。」下樣式 */
body {
    @include opacity(0);
    &.show {
        @include opacity(1);
    }
    &.oldNews {
        .loadBox {
            background-color: #000;
            &__loadAnimate {
                @include animation(loadAnimate--news 1.7s infinite linear);
                &:before {
                    background-color: #FFF;
                }
            }
            &--errorBox {
                &__icon {
                    &__stroke {
                        stroke: #FFF;
                    }
                    &__fill {
                        fill: #FFF;
                    }
                }
            }
        }
        .head {
            &__logo {
                border-color: #FFF;
                background-color: #000;
            }
        }
        .newsBox {
            @extend .box-shadow--white;
            color: #FFF;
            border: 1px solid #FFF;
            background-color: #000;
            &__inner__news__item__title {
                color: #CECECF;
            }
        }
        .caret {
            &__path{
                stroke: #FFF;
            }
        }
        .timeMachine {
            color: #FFF;
            background-color: rgba(0, 0, 0, .8);
            form {
                @extend .box-shadow--white;
                border: 1px solid #FFF;
                background-color: #000;
                input {
                    color: #FFF;
                    border-color: #CECECF;
                }
                input:focus {
                    @extend .box-shadow--white;
                    border-color: #FFF;
                }
                input:disabled {
                    border-color: #555;
                }
            }
            svg {
                & > g {
                    fill: #000;
                    & > circle {
                        stroke: #FFF;
                    }
                    & > g {
                        stroke: #FFF;
                    }
                }
                &:hover {
                    & > g {
                        fill: #FFF;
                        & > g {
                            stroke: #000;
                        }
                    }
                }
            }
        }
        .toolBar {
            &__button--timeMachine {
                &:hover {
                    & > g {
                        & > circle {
                            stroke: #FFF;
                        }
                        & > g {
                            fill: #FFF;
                        }
                    }
                }
            }
            &__button--country {
                @extend .box-shadow--white;
                &:hover {
                    @extend .box-shadow--white--opaque;
                }
            }
        }
    }
}
