<div
    class="newsBox animate--general shadow"
    ng-swipe-left="newsVM.handleSwipe(1)"
    ng-swipe-right="newsVM.handleSwipe(-1)"
    ng-swipe-disable-mouse
>

    <!-- Heading -->
    <div ng-include="'components/NewsBox/Heading.html'"></div>

    <!-- Content -->
    <div class="newsBox__content overflow--y">

        <div ng-if="newsVM.state.newsData.length > 0">
            <div ng-include="'components/NewsBox/SearchBar.html'"></div>
        </div>

        <div ng-if="newsVM.state.newsData.length > 0" ng-include="'components/NewsBox/NewsItem.html'"></div>

        <div ng-include="'components/NewsBox/FetchState.html'"></div>

    </div>
</div>