<!DOCTYPE html>
<html lang="zh-CN" ng-app="ShinyaNews" ng-csp class="animate--general">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="新聞，舊聞。, 深夜，破曉。, 深夜破曉, shenyepoxiao">
    <meta name="description" content="新聞，舊聞。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="新聞，舊聞。">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="https://dn-sypx.qbox.me/img/favicon.ico">
    <link rel="shortcut icon" href="https://dn-sypx.qbox.me/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="https://dn-sypx.qbox.me/img/favicon.png">
    <title>新聞，舊聞。</title>
    <link rel="stylesheet" href="/public/dist/sy-news.min.css">
</head>
<body ng-controller="rootController">

    <!-- 當 AngularJS 加載完畢會自動終結「開場動畫」 -->
    <div id="opening_animation" ng-if="">
        <div class="vertically_center">
            <div class="load_animate"></div>
        </div>
    </div>

    <div class="head animate--general" ng-class="{'head--show': true}">
        <img ng-click="toggleNews()" class="head__logo animate--general" ng-class="{'head__logo--oldNews': isOldNews}" src="/public/img/logo.png" alt="logo">        
    </div>

    <div class="newsBox animate--general" ng-class="{'newsBox--oldNews': isOldNews, 'newsBox--show': true}">
        <div class="newsBox__date">
            <h3>{{newsDate}}</h3>
        </div>
        <div ng-show="!isOldNews" ng-controller="newsController" ng-include src="'newsBox.html'" class="newsBox__news"></div>
        <div ng-show="isOldNews" ng-controller="oldNewsController" ng-include src="'newsBox.html'" class="newsBox__news"></div>
    </div>

    <script src="/public/dist/libs.min.js"></script>
    <script src="/public/dist/sy-news.min.js"></script>
    <script type="text/ng-template" id="newsBox.html">
        <ul ng-repeat="newsItems in newsBox">
            <h5>《{{newsItems.source_name}}》</h5>
            <li ng-repeat="item in newsItems.news" class="newsBox__news__item">
                <span class="newsBox__news__item__timestamp">{{item.date | date: 'HH:mm'}}</span>
                <a class="newsBox__news__item__title" ng-href="{{item.url}}" target="_blank">{{item.title}}</a>
            </li>
        </ul>
    </script>
</body>
</html>