<!DOCTYPE html>
<html ng-app="ShinyaNews" ng-controller="rootCtrl as rootVM" ng-csp>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="新聞，舊聞。, 深夜，破曉。, 深夜,破曉。, shenyepoxiao">
    <meta name="description" content="新聞，舊聞。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="新聞，舊聞。">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="public/img/favicon.ico">
    <link rel="shortcut icon" href="public/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="public/img/favicon.png">
    <title>新聞，舊聞。</title>
    <link rel="stylesheet" href="/public/dist/app.css">
</head>
<body class="animate--general" ng-class="{'oldNews': rootVM.state.isOldNews}">

    <div ui-view class="ui-view-newsBox"></div>

    <sy-time-machine></sy-time-machine>
    <sy-nav></sy-nav>

    <script src="/public/dist/vendors.js"></script>
    <script src="/public/dist/app.js"></script>
</body>
</html>