@charset "UTF-8";
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 36, sass/partials/_base.scss */
.vertically_center {
  display: table-cell;
  vertical-align: middle;
}

/* line 41, sass/partials/_base.scss */
.animate--slower {
  -moz-transition: all 1.7s ease-in-out;
  -o-transition: all 1.7s ease-in-out;
  -webkit-transition: all 1.7s ease-in-out;
  transition: all 1.7s ease-in-out;
}
/* line 44, sass/partials/_base.scss */
.animate--general {
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
/* line 47, sass/partials/_base.scss */
.animate--faster {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 51, sass/partials/_base.scss */
.animate--general.ng-enter, .animate--general.ng-leave.ng-leave-active, .animate--general.ng-hide, .animate--faster.ng-enter, .animate--faster.ng-leave.ng-leave-active, .animate--faster.ng-hide {
  opacity: 0;
}
/* line 56, sass/partials/_base.scss */
.animate--general.ng-leave, .animate--general.ng-enter.ng-enter-active, .animate--faster.ng-leave, .animate--faster.ng-enter.ng-enter-active {
  opacity: 1;
}

/* line 63, sass/partials/_base.scss */
.overflow--x {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 68, sass/partials/_base.scss */
.overflow--y, .newsBox__inner__news {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 75, sass/partials/_base.scss */
.display--table, .loadBox, .timeMachine {
  position: absolute;
  display: table;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* sy-news-reset */
/* line 2, sass/partials/_reset.scss */
html {
  height: 100%;
  overflow: hidden;
}
/* line 6, sass/partials/_reset.scss */
html.oldNews {
  background-color: #000;
}

/* line 10, sass/partials/_reset.scss */
body {
  font-family: "Helvetica Neue", "Palatino", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, sass/partials/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 61, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*:-moz-placeholder {
  text-align: center;
}
/* line 64, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*::-moz-placeholder {
  text-align: center;
}
/* line 67, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*:-ms-input-placeholder {
  text-align: center;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*::-webkit-input-placeholder {
  text-align: center;
}

/* line 27, sass/partials/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 1em 0;
  text-align: center;
}

/* line 32, sass/partials/_reset.scss */
h1 {
  font-size: 2em;
}

/* line 35, sass/partials/_reset.scss */
h2 {
  font-size: 1.5em;
}

/* line 38, sass/partials/_reset.scss */
h3 {
  font-size: 1.17em;
}

/* line 41, sass/partials/_reset.scss */
h4 {
  font-size: 1.12em;
}

/* line 44, sass/partials/_reset.scss */
h5 {
  font-size: .83em;
}

/* line 47, sass/partials/_reset.scss */
h6 {
  font-size: .75em;
}

/* line 50, sass/partials/_reset.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 54, sass/partials/_reset.scss */
textarea:focus, input:focus, button:focus {
  outline: none;
}

/* line 57, sass/partials/_reset.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 62, sass/partials/_reset.scss */
::-webkit-scrollbar {
  display: none;
}

/* angular-csp */
/* line 3, sass/vendor/_angular-csp.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

/* line 8, sass/vendor/_angular-csp.scss */
ng\:form {
  display: block;
}

/* 加載動畫 */
/* line 2, sass/modules/_index.scss */
.loadBox {
  background-color: #FFF;
}
/* line 5, sass/modules/_index.scss */
.loadBox__loadAnimate {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #CECECF;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-animation: loadAnimate--news 1.7s infinite linear;
  -webkit-animation: loadAnimate--news 1.7s infinite linear;
  animation: loadAnimate--news 1.7s infinite linear;
}
/* line 12, sass/modules/_index.scss */
.loadBox__loadAnimate:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 7.7s ease-in-out;
  -o-transition: all 7.7s ease-in-out;
  -webkit-transition: all 7.7s ease-in-out;
  transition: all 7.7s ease-in-out;
}
/* line 24, sass/modules/_index.scss */
.loadBox--errorBox {
  text-align: center;
}
/* line 26, sass/modules/_index.scss */
.loadBox--errorBox__icon {
  width: 50%;
}
/* line 28, sass/modules/_index.scss */
.loadBox--errorBox__icon__newsBox {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=37);
  opacity: 0.37;
}
@media (max-device-width: 767px) and (orientation: landscape) {
  /* line 26, sass/modules/_index.scss */
  .loadBox--errorBox__icon {
    width: 37%;
  }
}

@-moz-keyframes loadAnimate--news {
  0% {
    border-color: #000;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    border-color: #CECECF;
  }
  100% {
    border-color: #000;
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadAnimate--news {
  0% {
    border-color: #000;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    border-color: #CECECF;
  }
  100% {
    border-color: #000;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadAnimate--news {
  0% {
    border-color: #000;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    border-color: #CECECF;
  }
  100% {
    border-color: #000;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loadAnimate--oldNews {
  0% {
    border-color: #FFF;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    border-color: #CECECF;
  }
  100% {
    border-color: #FFF;
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadAnimate--oldNews {
  0% {
    border-color: #FFF;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    border-color: #CECECF;
  }
  100% {
    border-color: #FFF;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadAnimate--oldNews {
  0% {
    border-color: #FFF;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    border-color: #CECECF;
  }
  100% {
    border-color: #FFF;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 65, sass/modules/_index.scss */
.head__logo {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 5%;
  border: 1px solid #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}
@media (max-device-width: 767px), (max-width: 767px) {
  /* line 65, sass/modules/_index.scss */
  .head__logo {
    top: 3.5%;
    right: 3%;
    width: 2.5em;
    margin-top: 10px;
    margin-right: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
  }
}
@media (max-device-width: 767px) and (orientation: landscape) {
  /* line 65, sass/modules/_index.scss */
  .head__logo {
    top: 1.5%;
    right: 1.5%;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px) {
  /* line 65, sass/modules/_index.scss */
  .head__logo {
    width: 10%;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape), (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* line 65, sass/modules/_index.scss */
  .head__logo {
    width: 7%;
  }
}

/* line 97, sass/modules/_index.scss */
.newsBox {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 40%;
  height: 90%;
  border: 1px solid #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
}
@media (max-device-width: 767px), (max-width: 767px) {
  /* line 97, sass/modules/_index.scss */
  .newsBox {
    top: 3.5%;
    left: 3%;
    width: 94%;
    height: 95.5%;
  }
}
@media (max-device-width: 767px) and (orientation: landscape) {
  /* line 97, sass/modules/_index.scss */
  .newsBox {
    top: 1.5%;
    left: 1.5%;
    width: 97%;
    height: 97%;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px) {
  /* line 97, sass/modules/_index.scss */
  .newsBox {
    top: 12%;
    left: 12%;
    width: 76%;
    height: 76%;
  }
}
/* line 126, sass/modules/_index.scss */
.newsBox__inner.ng-enter {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  left: 100%;
}
/* line 130, sass/modules/_index.scss */
.newsBox__inner.ng-enter.ng-enter-active, .newsBox__inner.ng-leave {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  left: 0%;
}
/* line 134, sass/modules/_index.scss */
.newsBox__inner.ng-leave.ng-leave-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  left: -100%;
}
/* line 139, sass/modules/_index.scss */
.newsBox__inner__news {
  position: absolute;
  top: 7%;
  top: calc(3.5em);
  left: 5%;
  width: 90%;
  height: 86%;
  height: calc(100% - 3.5em);
}
/* line 148, sass/modules/_index.scss */
.newsBox__inner__news__item {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  margin: 5% auto;
}
/* line 154, sass/modules/_index.scss */
.newsBox__inner__news__item__timestamp {
  margin-right: 1em;
  font-size: 12px;
  color: #CECECF;
}
@media (max-device-width: 767px), (max-width: 767px) {
  /* line 154, sass/modules/_index.scss */
  .newsBox__inner__news__item__timestamp {
    margin-right: 0;
  }
}
/* line 162, sass/modules/_index.scss */
.newsBox__inner__news__item__title {
  font-size: 14px;
  text-decoration: underline;
}
@media (max-device-width: 767px), (max-width: 767px) {
  /* line 162, sass/modules/_index.scss */
  .newsBox__inner__news__item__title {
    font-size: 14px;
  }
}
/* line 172, sass/modules/_index.scss */
.newsBox__inner__date {
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
}
/* line 177, sass/modules/_index.scss */
.newsBox__inner__date__button {
  cursor: pointer;
}

/* line 184, sass/modules/_index.scss */
.caret {
  position: absolute;
  display: block;
  top: 50%;
  top: calc(50% - 18.5px);
  height: 37px;
  cursor: pointer;
  z-index: 3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
@media (max-device-width: 1024px), (max-width: 1024px) {
  /* line 184, sass/modules/_index.scss */
  .caret {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@media (max-device-width: 767px), (max-width: 767px) {
  /* line 184, sass/modules/_index.scss */
  .caret {
    display: none;
  }
}
/* line 199, sass/modules/_index.scss */
.caret:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 202, sass/modules/_index.scss */
.caret--left {
  left: 20%;
}
@media (min-device-width: 768px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px) {
  /* line 202, sass/modules/_index.scss */
  .caret--left {
    left: 6%;
  }
}
/* line 208, sass/modules/_index.scss */
.caret--right {
  right: 20%;
}
@media (min-device-width: 768px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px) {
  /* line 208, sass/modules/_index.scss */
  .caret--right {
    right: 6%;
  }
}
/* line 214, sass/modules/_index.scss */
.caret--hide {
  display: none;
}

/* line 219, sass/modules/_index.scss */
.timeMachine {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 223, sass/modules/_index.scss */
.timeMachine form {
  margin: 0 auto;
  width: 40%;
  border: 1px solid #000;
  background-color: #FFF;
  -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
}
@media (max-device-width: 767px), (max-width: 767px) {
  /* line 223, sass/modules/_index.scss */
  .timeMachine form {
    width: 94%;
  }
}
@media (max-device-width: 767px) and (orientation: landscape) {
  /* line 223, sass/modules/_index.scss */
  .timeMachine form {
    width: 97%;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1024px), (min-width: 768px) and (max-width: 1024px) {
  /* line 223, sass/modules/_index.scss */
  .timeMachine form {
    width: 76%;
  }
}
/* line 238, sass/modules/_index.scss */
.timeMachine form input {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 1em;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #555;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  -webkit-appearance: none;
}
/* line 251, sass/modules/_index.scss */
.timeMachine form input:focus {
  border-color: #000;
  -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
}
/* line 255, sass/modules/_index.scss */
.timeMachine form input:disabled {
  border-color: #CECECF;
}
/* line 259, sass/modules/_index.scss */
.timeMachine svg {
  margin: 1em;
  width: 37px;
  cursor: pointer;
}
/* line 264, sass/modules/_index.scss */
.timeMachine svg:hover > g {
  fill: #000;
}
/* line 266, sass/modules/_index.scss */
.timeMachine svg:hover > g > g {
  stroke: #FFF;
}
/* line 272, sass/modules/_index.scss */
.timeMachine__button--invalid {
  display: none;
}

/* line 277, sass/modules/_index.scss */
.toolBar {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media (max-device-width: 767px), (max-width: 767px) {
  /* line 277, sass/modules/_index.scss */
  .toolBar {
    display: none;
  }
}
/* line 284, sass/modules/_index.scss */
.toolBar__button--timeMachine {
  width: 37px;
  cursor: pointer;
}
/* line 287, sass/modules/_index.scss */
.toolBar__button--timeMachine:hover {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -moz-animation: loadAnimate--timeMachine 0.7s infinite linear;
  -webkit-animation: loadAnimate--timeMachine 0.7s infinite linear;
  animation: loadAnimate--timeMachine 0.7s infinite linear;
}
/* line 291, sass/modules/_index.scss */
.toolBar__button--timeMachine:hover > g > circle {
  stroke: #000;
}
/* line 294, sass/modules/_index.scss */
.toolBar__button--timeMachine:hover > g > g {
  fill: #000;
}

@-moz-keyframes loadAnimate--timeMachine {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadAnimate--timeMachine {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadAnimate--timeMachine {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 311, sass/modules/_index.scss */
body {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 314, sass/modules/_index.scss */
body.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 319, sass/modules/_index.scss */
body.oldNews .loadBox {
  background-color: #000;
}
/* line 321, sass/modules/_index.scss */
body.oldNews .loadBox__loadAnimate {
  -moz-animation: loadAnimate--news 1.7s infinite linear;
  -webkit-animation: loadAnimate--news 1.7s infinite linear;
  animation: loadAnimate--news 1.7s infinite linear;
}
/* line 323, sass/modules/_index.scss */
body.oldNews .loadBox__loadAnimate:before {
  background-color: #FFF;
}
/* line 329, sass/modules/_index.scss */
body.oldNews .loadBox--errorBox__icon__stroke {
  stroke: #FFF;
}
/* line 332, sass/modules/_index.scss */
body.oldNews .loadBox--errorBox__icon__fill {
  fill: #FFF;
}
/* line 338, sass/modules/_index.scss */
body.oldNews .head__logo {
  border-color: #FFF;
  background-color: #000;
}
/* line 342, sass/modules/_index.scss */
body.oldNews .newsBox {
  color: #FFF;
  border: 1px solid #FFF;
  -moz-box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
}
/* line 346, sass/modules/_index.scss */
body.oldNews .newsBox__inner__news__item__title {
  color: #CECECF;
}
/* line 350, sass/modules/_index.scss */
body.oldNews .caret__path {
  stroke: #FFF;
}
/* line 353, sass/modules/_index.scss */
body.oldNews .timeMachine {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 356, sass/modules/_index.scss */
body.oldNews .timeMachine form {
  border: 1px solid #FFF;
  background-color: #000;
  -moz-box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
}
/* line 360, sass/modules/_index.scss */
body.oldNews .timeMachine form input {
  color: #FFF;
  border-color: #CECECF;
}
/* line 364, sass/modules/_index.scss */
body.oldNews .timeMachine form input:focus {
  border-color: #FFF;
  -moz-box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 15px 0 rgba(255, 255, 255, 0.5);
}
/* line 368, sass/modules/_index.scss */
body.oldNews .timeMachine form input:disabled {
  border-color: #555;
}
/* line 373, sass/modules/_index.scss */
body.oldNews .timeMachine svg > g {
  fill: #000;
}
/* line 375, sass/modules/_index.scss */
body.oldNews .timeMachine svg > g > circle {
  stroke: #FFF;
}
/* line 378, sass/modules/_index.scss */
body.oldNews .timeMachine svg > g > g {
  stroke: #FFF;
}
/* line 383, sass/modules/_index.scss */
body.oldNews .timeMachine svg:hover > g {
  fill: #FFF;
}
/* line 385, sass/modules/_index.scss */
body.oldNews .timeMachine svg:hover > g > g {
  stroke: #000;
}
/* line 396, sass/modules/_index.scss */
body.oldNews .toolBar__button--timeMachine:hover > g > circle {
  stroke: #FFF;
}
/* line 399, sass/modules/_index.scss */
body.oldNews .toolBar__button--timeMachine:hover > g > g {
  fill: #FFF;
}
